　<div class="container">
　<div class="row">
　  <h2>Myワインセラー</h2>

　　<% @favorites_wines.each do |favorite| %>
      <div class="col-md-2">
        <div class="index">
        <table border=0>

          <tr>
            <td><%= image_tag(favorite.image) %></td>
          </tr>
          <tr>
            <td>ワインネーム:<%= favorite.name %></td>
          </tr> 
          <tr>
            <td>色:<%= favorite.color %></td>
          </tr> 
          <tr>
            <td><%= link_to '詳細', wine_path(favorite), class:"btn btn-info" %></td>
         </tr>
        </table>
        <br>
        </div>
      </div><!-- col-md-2 -->
    <% end %>
  </div><!-- row -->
  </div><!-- container -->