// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{ margin: 0;padding: 0}
a { text-decoration : none}
a:hover { text-decoration: none; }
ul, ol { list-style : none}
img { vertical-align : middle;}
h1, h2, h3, h4, h5, h6 {font-size: 16px;font-weight: normal; line-height: 1.6}
/* @end */

html{ height:100%;background-size: cover; }
body { background-color: #350a03;}
a { color:#fff;}

td{ background-color:white; text-align: center; text-decoration: underline; }

.clearfix:after { content: ''; display: block; clear: both;}


header { max-width: 100%; background-color: #350a03;  }
header .headerInner { width:90%; margin: 0 auto;  }
header .headerInner h1{ float: left; }
header ul{ color: #ffff;  float: right;}
header ul li { float: left; margin-right: 30px;}
header ul li:last-child { margin-right:0; }
header li a { font-size: 1em; color:#ffffff; display: block; padding-top:15px;}
header li a:hover{ filter:alpha(opacity=60); opacity:0.8; }

#container {max-width: 90%;padding-top: 30px; margin: 0 auto; background-color: #350a03;}
/*#container .topImg { max-width: 80%; background-image: url("images/Lvino_08.png")}*/
#container .topImg { padding-top: 30px; margin: 0 auto;  background-image: url("../../images/Lvino_08.png")}
#container .topImg .login { max-width: 30%; height: 300px; margin-bottom: 30px; background-color: #fff; margin: 0 auto; position: relative; opacity: .5; border-radius: 5px; }

.googleBtn { margin-top: 10px; }
.googleBtn p { margin: 0; }
footer p { text-align: center; color: #fff; padding: 30px; }